.line-head {
    display: block;
    height: 20px;
    border: 1px solid #0e0b23;
    margin-right: 24px;
}

.my-auction {
    color: #0e0b23;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
}

.my-auction:hover {
    color: #31b6b5;
}

.notify {
    cursor: pointer;
    color: #0e0b23;
}

.notify:hover {
    color: #31b6b5;
}

.avatar-header {
    width: 32px;
    height: 32px;
}

.avatar-header img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.cursor {
    cursor: pointer;
}


