@import '~antd/dist/antd.css';

.login-form {
  max-width: 800px;
  width: 60%;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}