@import '~antd/dist/antd.css';

.login-form {
  max-width: 800px;
  width: 60%;
}
.login-form .form-input {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  border-radius: 4px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
  font-size: 16px;
  height: 40px;
}

.cursor {
  cursor: pointer;
}