.button-delete {
    width: 170px;
    padding: 5px 20px;
    border-radius: 6px;
    background-color: #ffeded;
    border: 1px solid #dc0000;
    color: #dc0000;

}

.button-delete:hover {
    background-color: #fff;
    border: 1px solid #dc0000;
    color: #dc0000;
}

.button-edit {
    width: 170px;
    padding: 5px 20px;
    border-radius: 6px;
    background-color: #31b6b5;
    color: #fff;
    border: solid 1px #31b6b5;

}

.button-edit:hover {
    background-color: #fff;
    border: 1px solid #31b6b5;
    color: #31b6b5;
}

.title-list-bids {
    font-size: 30px;
    font-weight: 600px;
    padding: "0 10px";
}